<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="margin-top: 10mm;">
      <img src="\assets\img\perfil.png" width="200" height="200">
    </div>
    <div class="col-md-5">
      <h2>Datos médicos</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum </p>
      <p><a class="btn btn-primary btn-lg " routerLink="/edit_home"  role="button ">Editar Datos &raquo;</a></p>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 ">
      <h2>Nombre de ejemplo: </h2>
      <p>Fecha de nacimiento: </p>
      <p>Número de teléfono </p>
      <p>Domicilio </p>
      <p>Más datos...</p>
      <p><a class="btn btn-primary btn-lg " routerLink="/edit_home" role="button ">Editar Datos &raquo;</a></p>
    </div>
    <div class="col-md-5" style="right: 5.5cm;">
      <a href="mailto:cuenta@deemail.com"><img src="\assets\img\mail.png" width="150" height="125"></a>
    </div>
  </div>

</div>

<!--
        <div class="container ">
            <div class="row ">
                <div class="col-md-6 ">
                    <h2>Conclusiones</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
                        <p><a class="btn btn-secondary " href="# " role="button ">View details &raquo;</a></p>
                </div>
                <div class="col-md-6 ">
                    <h2>Visualizar pruebas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>
                </div>
            </div>
        </div>
    -->

<footer class="my-3 pt-3 text-muted text-center text-small">
  <p class="mb-1">&copy; 2020 BReAst</p>
</footer>
