<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="margin-top: 10mm;">
            <img src="\assets\img\perfil_p.png" width="200" height="200">
        </div>
        <div class="col-md-5">
            <h2>Datos médicos</h2>
            <p>Paciente que acudió en Enero porque presentaba dolor en la parte superior de la mama derecha. Se ha
                realizado una palpación y no se ha llegado a ningún resultado conclusivo. Utilizará el dispositivo
                durante tres meses. </p>
            <p><a class="btn btn-primary btn-lg " href="/home" role="button ">Editar Datos &raquo;</a></p>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2 ">
            <label>Nombre</label>
            <input type="text" value="Patricia" class="input-xlarge">
            <label>Apellido</label>
            <input type="text" value="González" class="input-xlarge">
            <label>Teléfono</label>
            <input type="text" value="648534160" class="input-xlarge">
            <label>Correo electrónico</label>
            <input type="text" value="pglez@gmail.com" class="input-xlarge">
            <label>Fecha de nacimiento</label>
            <input type="text" value="8/8/97" class="input-xlarge">

            <p><a class="btn btn-primary btn-lg " href="/home" role="button" style="margin-top: 7mm;">Actualizar Datos
                    &raquo;</a></p>
        </div>
        <div class="col-md-5" style="left: 7.9cm;">
            <a href="mailto:cuenta@deemail.com"><img src="\assets\img\mail.png" width="150" height="125"></a>
        </div>
    </div>

</div>
<footer class="my-3 pt-3 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 BReAst</p>
</footer>