<hr style="height: 2cm;">
<div class="container marketing">

    <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar..." name="search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><img src="\assets\img\search.png" width="30"
                        height="30"></button>
            </div>
        </div>
    </form>
    <!-- Implementar una Bootstrap Card? Igual es más estético -->
    <div class="row" style="margin-top: 5mm;">
        <div class="col-lg-3">
            <img class="bd-placeholder-img rounded-circle" src="\assets\img\perfil_p.png" width="200" height="200">
            <h2>Patricia González</h2>
            <p><a class="btn btn-secondary" style="background-color: rgb(255, 158, 177);
                border-color: rgb(255, 158, 177);" href="/home" role="button">Más detalles &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
            <img class="bd-placeholder-img rounded-circle" src="\assets\img\perfil2.jpg" width="200" height="200">
            <h2>Laura Gómez</h2>
            <p><a class="btn btn-secondary" style="background-color: rgb(255, 158, 177);
                border-color: rgb(255, 158, 177);" href="/home" role="button">Más detalles &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
            <img class="bd-placeholder-img rounded-circle" src="\assets\img\perfil3.jpg" width="200" height="200">
            <h2>Silvia Rubio</h2>
            <p><a class="btn btn-secondary" style="background-color: rgb(255, 158, 177);
                border-color: rgb(255, 158, 177);" href="/home" role="button">Más detalles &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
            <img class="bd-placeholder-img rounded-circle" src="\assets\img\perfil.png" width="200" height="200">
            <h2>Marta Suárez</h2>
            <p><a class="btn btn-secondary" style="background-color: rgb(255, 158, 177);
                border-color: rgb(255, 158, 177);" href="/home" role="button">Más detalles &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
            <img class="bd-placeholder-img rounded-circle" src="\assets\img\perfil2.jpg" width="200" height="200">
            <h2>Sandra Rodríguez</h2>
            <p><a class="btn btn-secondary" style="background-color: rgb(255, 158, 177);
                border-color: rgb(255, 158, 177);" href="/home" role="button">Más detalles &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
            <img class="bd-placeholder-img rounded-circle" src="\assets\img\perfil3.jpg" width="200" height="200">
            <h2>Lucía Manzano</h2>
            <p><a class="btn btn-secondary" style="background-color: rgb(255, 158, 177);
                border-color: rgb(255, 158, 177);" href="/home" role="button">Más detalles &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->

</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 BReAst</p>
</footer>