<form class="form-signin" style="text-align: center;">
    <img class="mb-4" src="\assets\img\logo.png" alt="" width="300" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
    <div class="container">
        <label for="inputEmail" class="sr-only" style="right: 5cm !important;">Correo Electrónico</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electrónico" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox"  value="remember-me"> Recuérdame
            </label>
        </div>
        <a class="btn btn-lg btn-primary btn-block" href="/home" type="submit">Sign in</a>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; BReAst</p>
</form>