<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="margin-top: 10mm;">
            <img src="\assets\img\perfil_p.png" width="200" height="200">
        </div>
        <div class="col-md-5">
            <h2>Datos médicos</h2>
            <p>Paciente que acudió en Enero porque presentaba dolor en la parte superior de la mama derecha. Se ha
                realizado una palpación y no se ha llegado a ningún resultado concluyente. Sin patologías previas,
                tilizará el dispositivo
                durante tres meses. No tiene antecedentes de ningún tipo.</p>
            <p><a class="btn btn-primary btn-lg " routerLink="/edit_home" role="button ">Editar Datos &raquo;</a></p>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4">
            <h2>Patricia González</h2>
            <p>Correo electrónico: ptcia.glz@gmail.com</p>
            <p>Teléfono: 648534160</p>
            <p>Fecha de nacimiento: 8/8/79</p>
            <p><a class="btn btn-primary btn-lg " routerLink="/edit_home" role="button ">Editar Datos &raquo;</a></p>
        </div>
        <div class="row" style="margin-left: 4mm;">
            <a href="mailto:ptcia.glz@gmail.com" style="list-style-type: none;display: inline;padding-right: 5px">
                <img src="\assets\img\mail.png" width="150" height="125">
            </a>
            <div style="margin-left: 2cm; margin-top: 4mm;">
                <img src="\assets\img\warning.png" width="70" height="70">
                <p style="margin-top: 2mm;">Tienes avisos pendientes. Revisa la pestaña de resultados</p>
            </div>  
        </div>
    </div>
</div>
<footer class="my-3 pt-3 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 BReAst</p>
</footer>